<div class="container">
    <div class="left-div">
        <span class="span-title">Coloque os seus dados na calculadora e calcule o seu IMC:</span>
      <div class="widget-questions">
        <app-question-inputs (showImc)="showImc($event)" [altura]="altura"></app-question-inputs>
      </div>
    </div>

    <ng-container *ngIf="showResult">
      <div class="right-div">
        <app-result [name]="name" [resultImc]="resultImc" [imcNormalMin]="normalMin" [imcNormalMax]="normalMax"></app-result>
        <app-result-table [resultImc]="resultImc" [altura]="altura" (imcNormal)="receivingImcNumber($event)"></app-result-table>
      </div>
    </ng-container>
</div>



  
  



