.result-table-container {
    margin: 5px 0px ;
    width: 100%;
    height: 50%;
}

.result-table {
    width: 90%;
    height: 100%;
    border-collapse: collapse;
    
    & thead {
        background-color: rgb(216, 219, 220);
        display: table-header-group;
        height: 15%;
        text-align: left;
    }
    
    & th, td {
       padding: 20px; 
       text-align: left;
     }
}

.selected-bad {
    background-color: #ffeec4;
}

.selected-good {
    background-color: #bbefc0;
}